.indexContainer {
  height: 100%;
  width: 100%;
  text-align: center;

}

.boxIndex {
  position: relative;
  top: 50%;
  background-color: #2a99a8; 
  outline-color: Black;
  outline-style: double;
  border: 1px White;
}

.paraIndex {
  font-size: 2rem;
  color: Black;
  font-family: 'Indie Flower', cursive;
  position: relative;
  top: 50%;
}
