.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.containerIndex {
  margin-top: auto;
  text-align: center;
}

.containerOutline {
  margin: auto;
  text-align: center;
  background-color: #2a99a8; 
}

body {
  background-color: #011012;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 0 #ffffff;
  font-size: 5rem;
  color: #2a99a8;
}

p {
  font-size: 2rem;
  color: White;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

a {
  color: #49ccde;
}
a:visited {
  color: #49ccde;
}
a:hover {
  color: White;
}


/*.cc-link {
  font-size: 2rem;
  color: White;
  font-family: 'Indie Flower', cursive;
}

.f-banner-header {
  font-size: 2rem;
  color: White;
  font-family: 'Indie Flower', cursive;
}

.f-banner-body-text {
  font-size: 2rem;
  color: White;
  font-family: 'Indie Flower', cursive;
}*/
