h1 {
  margin: 30px;
  font-family: Arial;
  font-size: 5rem;
  color: #2a99a8;
}

p {
  font-size: 1rem;
  color: Black;
  font-family: Arial;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.containerOutline {
  margin: auto;
  text-align: center;
  background-color: #2a99a8; 
  outline-color: Black;
  outline-style: double;
  border: 1px White;
}
